.botao{
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: #2a3b3a;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 5%;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: purple;
}

.titulo-box {
    font-size: 54px;
    font-weight: bold;
    color: #e6d1b7;
    
}

.about {
    height: 100vh;
    width: 100%;
}

.hero {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

  .quote {
    margin-top: 0px;
    //font-size: clamp(2rem, 6rem, 7vw);
    font-size: 72px;
    
    text-align: center;
    overflow: hidden;
    color: #dfdcff;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
  
  h2 {
    padding-bottom: 20px;
    background-image: linear-gradient(157deg, #e8dfff, #4873ea);
    font-size: 130px;
    line-height: 0.8;
    letter-spacing: -6px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .anim-typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 3rem;
    color: #fff5f5;
    font-weight: bold;
    
  }

  .a {
    display: flex;
    letter-spacing: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}